
<%#!-- Details page, to show more info on the movie in question --%>

<div id="details-div">
<div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="<%= movie.image %>" class="img-fluid rounded-start" alt="movie image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a class="movies-link-btn" href="/movies/">Go back</a> 
        <br />
        <br />
        <h5 class="card-title"> <%= movie.title %> </h5>
        <h3 style="font-size: 16px;">Director: <%= movie.director %> </h2>
          <br />
          <h3 style="font-size: 14px;">Stars:</h2>
            <p> <%= movie.stars %> </p>
        <p class="card-text"> <%= movie.description %> </p>
        <p class="card-text"><small class="text-muted">Showtimes: <%= movie.showtimes %> </small></p>
      </div>
    </div>
  </div>
</div>
</div>