<h1>Movie Details:</h1>


<%#!-- Details page, to show more info on the movie in question --%>
<div id="details-page-div"></div>
   <img src="<%= movie.image %>" alt="movie image" width="200px"/>
   <a class="movies-link-btn" href="/movies/">Go back</a> 
   <h2 style="font-size: 20px;"> <%= movie.title %> </h2>
   <h3 style="font-size: 16px;">Director: <%= movie.director %> </h2>
    <h3 style="font-size: 14px;">Stars:</h2>
   <p> <%= movie.stars %> </p>
   <p> <%= movie.description %> </p>
   <p> <%= movie.showtime %> </p>
</div>
